{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h3 class="h3 mb-3 font-weight-normal">Connectez-vous !</h3>
        <label for="inputEmail">Adresse Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" placeholder="Votre adresse e-mail" required autofocus>
        <br>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <br>
        <button class="btn btn-lg btn btn-success ml-auto d-flex" type="submit" style="height: initial;">
            Se connecter
        </button>
    </form>
    <h5>Vous n’avez pas de compte ? <a href="/register">Inscription</a></h5>

</div>
{% endblock %}