{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous !</h1>
        <label for="inputEmail" class="sr-only">Adresse Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" placeholder="Votre adresse e-mail" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <br>
        <button class="btn btn-lg btn-primary" type="submit" style="height: initial;">
            Se connecter
        </button>
    </form>
</div>
{% endblock %}