{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style>
h2.contactTitle {
	position: absolute;
	top: 14em;
	left: 4em;
	color: white;
	font-weight: bold;
}

h3 {
  padding: 1em 0 1em 0;
}

#map {
	width: 100%;
	height: 200px;
	background-color: lightgray;
}
</style>

<div id="formulaire">
  <h2 class="contactTitle">Contactez nous</h2>
  <img src="/img/imageFormRecherche.png">
</div>

<div class="container">
  <div class="row">
      <div class="col-sm">
        <h3>Formulaire de contact :</h3>
        <form>
          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Nom :</label>
            <div class="col-sm-9">
              <input id="inputName" type="text" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputFirstName" class="col-sm-3 col-form-label">Prénom :</label>
            <div class="col-sm-9">
              <input id="inputFirstName" type="text" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-3 col-form-label">E-mail :</label>
            <div class="col-sm-9">
              <input id="inputEmail" type="text" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPhone" class="col-sm-3 col-form-label">Téléphone :</label>
            <div class="col-sm-9">
              <input id="inputPhone" type="text" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputSubject" class="col-sm-3 col-form-label">Sujet :</label>
            <div class="col-sm-9">
              <input id="inputSubject" type="text" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputMessage" class="col-sm-3 col-form-label">Message :</label>
            <div class="col-sm-9">
              <textarea id="inputMessage" type="text" class="form-control"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm">
        <h3>Addresse :</h3>
        <div id="map"></div>
        <p>
            55, rue Gustave Eiffel<br />168 REZÉ<br />France
        </p>

        <h3>Horaires et numéro :</h3>
        <p>Du lundi au samedi de 9h30 à 19h</p>
        <p>01 77 13 02 24</p>
      </div>
  </div>
</div>

{% endblock %}
