{% extends 'base.html.twig' %}

{% block title %}Accueil - Atypik'House{% endblock %}

{% block body %}
<style>
h2.contactTitle {
	position: absolute;
	top: 14em;
	left: 4em;
	color: white;
	font-weight: bold;
}

h3 {
    padding: 1em 0 1em 0;
}

#nightDream {
    margin-top: 3em;
}

#nightDream .row {
    margin-bottom: 3em;
}

#nightDream img {
    width: 100%;
}

#nightDream .content {
    width: 100%;
    padding: 0 8em;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters .col, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.carousel-item img {
    width: 33%;
}

</style>

<div id="formulaire">
    {% include 'form-recherche.html.twig' %}
    <img src="/img/imageFormRecherche.png"/>
</div>

<div class="container">
    <div class="row">
        <h3>Nos différents types de Logements</h3>
        <div id="housingTypes" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-block w-100">
                        <img src="https://a0.muscache.com/im/pictures/1faf9a4c-f839-44da-bd37-65ddc928379e.jpg?aki_policy=large">
                        <img src="https://a0.muscache.com/im/pictures/45680811/f4987a12_original.jpg?aki_policy=large">
                        <img src="https://a0.muscache.com/im/pictures/29099674/7e3509fe_original.jpg?aki_policy=large">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <img src="https://a0.muscache.com/im/pictures/1faf9a4c-f839-44da-bd37-65ddc928379e.jpg?aki_policy=large">
                        <img src="https://a0.muscache.com/im/pictures/45680811/f4987a12_original.jpg?aki_policy=large">
                        <img src="https://a0.muscache.com/im/pictures/29099674/7e3509fe_original.jpg?aki_policy=large">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#housingTypesControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#housingTypesControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div id="nightDream" class="container-fluid">
    <div class="container">
        <h3>Où désirez vous passer une nuit de rêve ?</h3>
    </div>
    <div class="row">
        <div class="col-sm-6 no-gutters">
            <img src="https://a0.muscache.com/im/pictures/0e25bbd4-d081-4bab-85de-a8fd05245b53.jpg?aki_policy=large"/>
        </div>
        <div class="col-sm-6 d-flex align-items-center">
            <div class="content">
                <h4>Get some perspective</h4>
                <p>Take your trip to new heights with these one-of-a-kind treehouses.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 d-flex align-items-center">
            <div class="content">
                <h4>Sail the high seas</h4>
                <p>Follow in the footsteps of adventurers past with boats of all shapes and sizes.</p>
            </div>
        </div>
        <div class="col-sm-6 no-gutters">
            <img src="https://a0.muscache.com/im/pictures/1df93d87-26a5-4c5e-8a91-b37ccb173aa1.jpg?aki_policy=large"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 no-gutters">
            <img src="https://a0.muscache.com/im/pictures/408ad1e8-0367-4cb7-be52-6d7bfcc9d046.jpg?aki_policy=large"/>
        </div>
        <div class="col-sm-6 d-flex align-items-center">
            <div class="content">
                <h4>Made just for glamping</h4>
                <p>Embrace a mix of indoor comfort and the great outdoors.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
