{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}

<header>
    <img id ="logo" src="/img/logo.png">
    <div id="title"><a href="index.html">Atypik'House</a></div>
    <button id="btnInscrire" type="button" class="btn btn-success"><p>S'inscrire</p></button>
    <button id="btnConnecter" class="btn btn-primary"><p>Se connecter</p></button>
</header>

<div id="formulaire">
<div id="transparence-form-rech"></div>
  <form>
    <div class="form-group">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Type de logement</option>
        <option>Yourte</option>
        <option>Bulle</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Lieu</option>
        <option>Bordeaux</option>
        <option>Lyon</option>
      </select>
    </div>
    <input value="Date Départ" id="datepickerDep"/>
    <script>
        $('#datepickerDep').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>

     <input value="Date Retour" id="datepickerRet"/>
    <script>
        $('#datepickerRet').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
    
    <div class="form-group">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Voyageurs</option>
        <option>1</option>
        <option>2</option>
      </select>
    </div>

    <button type="button" class="btn btn-recherche">Rechercher</button>
  </form>
  <img src="/img/imageFormRecherche.png"/>
</div>
  <br/>
<div class="container">
  
    <!-- Example row of columns -->
    <div class="row">
     <div class="col-sm3">
      <h1>Résultats de la recherche:</h1>
     </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/img/cabane.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title ">Cabane dans le ciel</h4>
          <h5 class="card-title">LIMOGES - 122€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
          <buttont type="button" class="btn btn-consulter"><a href="" class="a-consulter">Consulter</a></button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/yourte.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Yourte</h4>
          <h5 class="card-title">BRETAGNE - 100€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
           <buttont type="button" class="btn btn-consulter"><a href="" class="a-consulter">Consulter</a></button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/bulle.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Bulle et la bête</h4>
          <h5 class="card-title">PARIS - 115€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
           <buttont type="button" class="btn btn-consulter"><a href="" class="a-consulter">Consulter</a></button>
        </div>
      </div>
    </div>
    </br></br>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/img/cabane.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title ">Cabane dans le ciel</h4>
          <h5 class="card-title">LIMOGES - 122€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
           <buttont type="button" class="btn btn-consulter"><a href="" class="a-consulter">Consulter</a></button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/yourte.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Yourte</h4>
          <h5 class="card-title">BRETAGNE - 100€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
           <buttont type="button" class="btn btn-consulter"><a href="" class="a-consulter">Consulter</a></button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/bulle.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Bulle et la bête</h4>
          <h5 class="card-title">PARIS - 115€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
           <buttont type="button" class="btn btn-consulter"><a href="" class="a-consulter">Consulter</a></button>
        </div>
      </div>
    </div>
    </br></br>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/img/cabane.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title ">Cabane dans le ciel</h4>
          <h5 class="card-title">LIMOGES - 122€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
           <buttont type="button" class="btn btn-consulter"><a href="" class="a-consulter">Consulter</a></button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/yourte.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Yourte</h4>
          <h5 class="card-title">BRETAGNE - 100€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
           <buttont type="button" class="btn btn-consulter"><a href="" class="a-consulter">Consulter</a></button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/bulle.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Bulle et la bête</h4>
          <h5 class="card-title">PARIS - 115€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
           <buttont type="button" class="btn btn-consulter"><a href="" class="a-consulter">Consulter</a></button>
        </div>
      </div>
    </div>
</div>


{% endblock %}