{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
<header>
    <img id ="logo" src="/img/logo.png">
    <div id="title"><a href="index.html">Atypik'House</a></div>
    <button id="btnInscrire" type="button" class="btn btn-success"><p>S'inscrire</p></button>
    <button id="btnConnecter" class="btn btn-primary"><p>Se connecter</p></button>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div id="formulaire">
  <form>
    <div class="form-group">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Type de logement</option>
        <option>Yourte</option>
        <option>Bulle</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Lieu</option>
        <option>Bordeaux</option>
        <option>Lyon</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Voyageurs</option>
        <option>1</option>
        <option>2</option>
      </select>
    </div>
  </form>
  <img src="/img/imageFormRecherche.png">
</div>
  <br/>
<div class="container">
  
    <!-- Example row of columns -->
    <div class="row">
     <div class="col-sm3">
      <h1>Résultats de la recherche:</h1>
     </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/img/cabane.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title ">Cabane dans le ciel</h4>
          <h5 class="card-title">LIMOGES - 122€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/yourte.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Yourte</h4>
          <h5 class="card-title">BRETAGNE - 100€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/bulle.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Bulle et la bête</h4>
          <h5 class="card-title">PARIS - 115€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
    </div>
    </br></br>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/img/cabane.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title ">Cabane dans le ciel</h4>
          <h5 class="card-title">LIMOGES - 122€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/yourte.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Yourte</h4>
          <h5 class="card-title">BRETAGNE - 100€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/bulle.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Bulle et la bête</h4>
          <h5 class="card-title">PARIS - 115€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
    </div>
    </br></br>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/img/cabane.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title ">Cabane dans le ciel</h4>
          <h5 class="card-title">LIMOGES - 122€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/yourte.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Yourte</h4>
          <h5 class="card-title">BRETAGNE - 100€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/bulle.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Bulle et la bête</h4>
          <h5 class="card-title">PARIS - 115€ /nuit </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus </p>
        </div>
      </div>
    </div>
</div>

{% endblock %}

