h2.contactTitle {
	position: absolute;
	top: 14em;
	left: 4em;
	color: white;
	font-weight: bold;
}

h3 {
    padding: 1rem 0 1rem 0;
}

#nightDream {
    margin-top: 3em;
}

#nightDream img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

#nightDream .content {
    width: 100%;
    padding: 0 8em;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters .col, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.carousel-item img {
    width: 33%;
    position: relative;
    height: 200px;
    object-fit: cover;
    padding: 0 5px;
}

@media (max-width: 768px) { 
    .deuxiemeDiv{
        flex-direction: column-reverse;
    }
    #nightDream .content {
         width: 100%;
        padding: 1rem;
    }
}

.carousel-item img {
    margin:10px;
}
.block4-wrap {
    display:flex
}
.block4 {
    flex:1 0 25%;
    color:black;
}
.my-captions{
    margin-top: -30px;
    padding-left: 55px;
    padding-bottom: 0em;
    }
    .my-captions h5{
        padding-top: 30px;
    }

@media screen and (max-width:768px){
    .block4{max-width:280px;flex:1 0 100%;overflow:hidden}  
    .carousel{overflow:hidden;}
    .carousel-inner{overflow-x:visible;}
}
@media screen and (max-width:480px){
    .block4{max-width:240px;}   
}

#title{
	text-transform: uppercase;
	font-weight: 600;
}

.dropdown-menu.show {
	right: 0;
}

.ajouterBien
{
	padding-right: 3rem;
}

#btnDeco{
	margin-top: 0.5em;
	margin-right: 1.825em;
	
	color: white;
	background-color: #C64300; 
}

#btnDeco:hover{
	background-color: #C64300;
}

#avatarLogin{
	margin-right: 0.8em;
}

#Utilisateur{
	text-decoration:none; 
	color: black;
	font-weight: bold;
}

#cloche{
	margin-right: 1em;
	margin-left: 3em;
}

#cloche:hover{
	opacity: 0.5;
}

.btn-deconnexion{
	height: 1.875em;
}

.btn-deconnexion p{
	margin-top: -0.3125em;
}

.btn-success p{
	margin-top: -0.3125em;
}

.btn-primary p{
	margin-top: -0.3125em;
}

.btn-primary{
	height: 1.875em;
	margin-right: 1.875em;
}


#formulaire > img{
	height: 35rem;
	width: 100%; 
	background-attachment:fixed;
	object-fit: cover;
}

#formulaire form{
	position:absolute;
	right: 0; 
	margin-right: 6.25rem;
	margin-top: 6rem;
	background-color: white;
    padding: 30px;
    border-radius: 10px;
}

#transparence-form-prod{
	position: absolute;
	right: 0;
	border-radius: 2.5em 2.5em 2.5em 2.5em;
	background-color:black; 
	opacity: 0.7;
	height: 21.875em;
	width: 25em;
	margin-right: 3.125em;
	margin-top: 3.75em;
}

#transparence-form-rech{
	position: absolute;
	right: 0;
	border-radius: 2.5em 2.5em 2.5em 2.5em;
	background-color:black; 
	opacity: 0.7;
	height: 28.125em;
	width: 25em;
	margin-right: 3.125em;
	margin-top: 3.75em;
}

#formulaire .form-control{
	width: 18.75em;
	color: #C64300;
}

.input-group>.input-group-append>.btn{
	color:#C64300;
	margin-left: -2.3125em;
	border: none;
}

#datepickerDep{
	margin-bottom: 0.9375em;
}

#datepickerRet{
	margin-bottom: 0.9375em;
}

.btn-outline-secondary{
	height: 2.1875em;
}

.gj-datepicker-bootstrap [role=right-icon] button:hover
{
	background-color: #C64300;
}

.btn-recherche{
	background-color: #C64300;
	color: white;
	width: 100%;
}

.gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div{
	background-color: #C64300 !important;
}

.btn-photo{
	background-color: #C64300;
	color:white;
	position: absolute;
	width: 12.5em;
	margin-top: 31.25em;
	margin-left: 4.375em;
	border-radius: .25rem;
}

.btn-recherche:hover, .btn-photo:hover{
	background-color: rgb(184, 54, 14);
}

.btn-consulter{
	background-color: #C64300;
	color: white;
	float: right;
	width: 6.375em;
} 

.btn-consulter:hover{
	background-color: rgb(184, 54, 14);
} 

a.a-consulter{
	color: white;
	text-decoration:none; 
} 

a.a-consulter:hover{
	color: white;
	text-decoration:none; 

} 

.card-img-top{
	height: 15rem;
	object-fit: cover;
}

/* FOOTER CSS */

.page-footer li.list-inline-item img{
	width: 45px;
	margin: 10px;
	cursor: pointer;
}

footer{
	font-family: roboto;
	margin-top: 2.25em;
	padding-top: 4em;
	padding-bottom: 3em;
	height: 100%;
	background-color: #C4C4C4;
	width: 100%;
}

ul.list-unstyled li a{
	color: black;
}

.card{
	margin: 10px;
}

.card-deck .card:hover{
	box-shadow: 0.5em 0.5em 0.75em #555; 
}

/*Slider*/

 .ligne > .colonne {
	padding: 0 0.5em;
  }
  
  .ligne:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .colonne {
	float: left;
	width: 25%;
  }
  
  /* The Modal (background) */
  .modalSlider {
	display: none;
	position: fixed;
	z-index: 10;
	padding-top: 3.25em;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
  }
  
  /* Modal Content */
  .modal-contentSlider {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 45.75em;
  }
  
  /* The Close Button */
  .close {
	color: white;
	position: absolute;
	top: 0.625em;
	right: 1.5625em;
	font-size: 2.1875em;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
  }
  
  .mySlides {
	display: none;
  }
  
  .cursor {
	cursor: pointer;
  }
  
  /* Next & previous buttons */
  .precedent,
  .suivant {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 1em;
	margin-top: -3.125em;
	color: white !important;
	font-weight: bold;
	font-size: 1.25em;
	transition: 0.6s ease;
	border-radius: 0 0.1875em 0.1875em 0;
	user-select: none;
	-webkit-user-select: none;
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Position the "next button" to the right */
  .suivant {
	right: 0;
	border-radius: 0.1875em 0 0 30.1875empx;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .precedent:hover,
  .suivant:hover {
	background-color: rgba(0, 0, 0, 0.7);;
  }
  
  /* Number text (1/3 etc) */
  .nombre {
	color: #f2f2f2;
	font-size: 0.75em;
	padding: 0.5em 0.75em;
	position: absolute;
	top: 0;
  }

.mySlides > img {
	margin-bottom: -0.25em;
	background-attachment: fixed;
  }
  
  .caption-containerSlider {
	text-align: center;
	background-color: black;
	padding: 0.125em 1em;
	color: white;
  }
  
  .demo {
	opacity: 0.6;
	padding-right: 0.625em;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
  
  img.hover-shadow {
	transition: 0.3s;
  }
  
  .hover-shadow:hover {
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
  }

	/*Fin Slider*/

	.rating a {
		color: black;
		text-decoration: none;
		font-size: 1.5em;
 }

	.picto_prod{
		height: 3.75em;
		width: 3.3em;
		padding-bottom: 0.5em;
	}

	.interdit{
		font-weight: bold;
		font-size: 1.2em;
	}

/*Mobile*/

.sousMenu{
	border-bottom: 1px solid #C64300;
}
/*Profil*/

.dashboard{
	color:black;
}

.menuProfil{
	height: 2em;
}

.navProfil .nav-tabs{
	border-bottom: none;
  }
  
  .navProfil .list-group-item.active{
	background-color: #C64300;
  }
  
  .navProfil .list-group-item{
	border:none;
	width: 160px;
  }
  
  .navProfil ul{
	margin-top: 0.7em;
  }
  
  .img{
  
	height: 180px;
	width: 100%;
	object-fit: cover; 
  }
  
  .noborder{
	border: none;
  }
  
  .cardProfil{
	  margin-top: 0.7em;
  }
  
  .cardProfil .card-body{
	  border: none;
  }
  
  .cardProfil form{
	  margin-left: 2em;
  }
  
  #accordion .card-header{
	  background-color: green;
  }
  
  
  #accordion .card-header button{
	  color: white;
  }
  
  .btnReservation{
	  width: 20%;
  }
  
  .boxReservation{
	  padding-bottom: 30px;
  }
  
  
  .boxReservation:hover{
	  box-shadow: 8px 8px 12px #aaa;
  }
	@media (min-width: 576px) and (max-width: 767px)
{
    #avatarLogin{
		right:0;
	}
}

/* Contact */
h2.contactTitle {
	position: absolute;
	top: 14em;
	left: 4em;
	color: white;
	font-weight: bold;
}

#map {
	width: 100%;
	height: 350px;
	background-color: lightgray;
}

/* Page logement */
#bandeau-logement {
	position: relative;
}

#bandeau-logement > img {
	height: 35rem;
	background-attachment: fixed;
	object-fit: cover;
	width: 100%;
}

h3.titreLogement {
    margin: 0;
    padding-bottom: 10px;
}

.resa{
    margin: 50px 15px 0px 15px;
    padding: 30px;
    border: 1px solid #dee2e6;
}

.hote{
    margin: 30px 15px 0px 15px;
    padding: 0px 30px 30px 30px;
	border: 1px solid #dee2e6;
	text-align: center;
}

.prix{
	font-size: 1.5rem;
    font-weight: 500;
}

.titre_ville {
    margin-bottom: 25px;
}

h4.sous-titre {
    margin: 30px 0 15px 0px;
}

.adresse-location{
	margin-bottom: 15px;
}

.nom-hote {
	font-weight: 600;
	margin-bottom: 0;
}

.logement-hote {
    font-style: italic;
}

.icone-proprio{
	margin-bottom: 10px;
}

.form-group ul li{
	color: #721c24;
    background-color: #f8d7da;
	border-color: #f5c6cb;
	list-style-type: none;
	margin-left:-2.5em;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1.2rem;
}

@media (max-width: 647px)
{
    #formulaire form{
	 right: auto;
	 position: absolute;
	 margin-top: 5rem;
	 margin-bottom: 2rem;
	 margin-left:10%;
	 width: 80%;
	}

	#formulaire .form-control {
		width: 100%;
	}
a.star-note {
	font-size: 1.5em;
}

a.star-note:hover {
	cursor: pointer;
}