{% extends 'base.html.twig' %}

{% block title %}New TypeLogement{% endblock %}

{% block body %}
    <h1>Create new TypeLogement</h1>

    {{ include('type_logement/_form.html.twig') }}

    <a href="{{ path('type_logement_index') }}">back to list</a>
{% endblock %}
