{% extends 'base.html.twig' %}

{% block title %}Logement > {{ logement.nom }} {% endblock %}

{% block body %}

<div id="formulaire">
<div id="transparence-form-prod"></div>
  <button type="button" class="btn btn-photo"  onclick="openModal();currentSlide(1)">Voir les photos</button>
  <img src="/img/cabane2.jpg"/>

</div>

<div id="myModalSlider" class="modalSlider">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-contentSlider">

    <div class="mySlides">
      <div class="nombre">1 / 4</div>
      <img src="/img/cabane2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="nombre">2 / 4</div>
      <img src="/img/cabane3.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="nombre">3 / 4</div>
      <img src="/img/cabane4.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="nombre">4 / 4</div>
      <img src="/img/cabane5.jpg" style="width:100%">
    </div>

    <a class="precedent" onclick="plusSlides(-1)">&#10094;</a>
    <a class="suivant" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-containerSlider">
      <p id="captionSlider"></p>
    </div>


    <div class="colonne">
      <img class="demo cursor" src="/img/cabane2.jpg" style="width:100%" onclick="currentSlide(1)" alt="Photo 1">
    </div>
    <div class="colonne">
      <img class="demo cursor" src="/img/cabane3.jpg" style="width:100%" onclick="currentSlide(2)" alt="Photo 2">
    </div>
    <div class="colonne">
      <img class="demo cursor" src="/img/cabane4.jpg" style="width:100%" onclick="currentSlide(3)" alt="Photo 3">
    </div>
    <div class="colonne"> 
      <img class="demo cursor" src="/img/cabane5.jpg" style="width:100%" onclick="currentSlide(4)" alt="Photo 4">
    </div>
  </div>
</div>
  <br/>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
    <center>
      <h4>{{ logement.nom }}</h4>
    </center>
      <div class="separate">
      <br/>
      <div class="etoile">
        <div class="rating">

      <script type="text/javascript">
        var nbEtoile = 3;
        for (var i = 1; i <= nbEtoile; i++) {
        document.write('<a id="i">★</a>');
        }
        for (var i = 1; i <= 5-nbEtoile; i++) {
        document.write('<a id="i">☆</a>');
        }
      </script>
        </div>
      </div>
      <br/><br/>
      <div class="prix">
        {{ logement.prix }} € / nuit
      </div>
      <br/>
      <br/>
      <div class="produit-desc">
        {{ logement.description }}
      </div>
      </div>
    </div>
    <div class="col-lg-6">
    <center>
      <h4>Services et options disponibles</h4>
      <br/>
    <div class="row">
      <div class="col-lg-4">
        <img class="picto_prod" src="/img/services/coffee.png" alt="Coffee">
        <br/>
        Petit déjeuné
      </div>
      <div class="col-lg-4">
        <img class="picto_prod" src="/img/services/wifi.png" alt="Wifi">
        <br/>
        Wifi
      </div>
      <div class="col-lg-4">
        <img class="picto_prod" src="/img/services/snow.png" alt="Clim">
        <br/>
        Climatisation
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-4">
        <img class="picto_prod" src="/img/services/shower.png" alt="shower">
        <br/>
        Douche
      </div>
      <div class="col-lg-4">
        <img class="picto_prod" src="/img/services/bathtub.png" alt="bathtub">
        <br/>
        Bain
      </div>
      <div class="col-lg-4">
        <img class="picto_prod" src="/img/services/heating.png" alt="heating">
        <br/>
        Chauffage
      </div>
    </div>
     <br/>
    <div class="interdit">Non autorisé</div>
    <br/>
    <div class="row">
      <div class="col-lg-4">
        <img class="picto_prod" src="/img/services/dog.png" alt="dog">
        <br/>
        Pas d’animaux
      </div>
      <div class="col-lg-4">
        <img class="picto_prod" src="/img/services/fire.png" alt="fire">
        <br/>
        Non fumeur
      </div>
      <div class="col-lg-4">
        <img class="picto_prod" src="/img/services/BBQ.png" alt="BBQ">
        <br/>
        Pas de barbecue
      </div>
    </div>
    </center>

    </div>
  </div>
  <br/>
</div>

<div class="container">
<hr/>
  <div class="row">
    <div class="col-lg-12">
    <center>
      <h4>Localisez l'hébergement</h4>
      <br/>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5737941.053577054!2d-0.5600409326626958!3d45.39463663443821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ab22a7cd2b8547%3A0xe10e3cdc7f734cdc!2sLes+cabanes+dans+les+arbres!5e0!3m2!1sfr!2sfr!4v1544963589952"  height="550" frameborder="0" style="border:0; width: 100%" allowfullscreen></iframe>
    </center>
    </div>
  </div>
  <br/>
</div>

<div class="container">
<hr/>
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
    <div class="row">
        <div class="comments col-md-12" id="comments">
            <h3 class="mb-2">Commentaires</h3>
            <!-- comment -->
            <div class="comment mb-2 row">
                <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                    <a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m103.jpg" alt="avatar"></a>
                </div>
                <div class="comment-content col-md-11 col-sm-10">
                    <h6 class="small comment-meta"><a href="#">admin</a> Today, 2:38</h6>
                    <div class="comment-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <a href>http://wwwwww.com</a> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                            <br>
                            <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
                        </p>
                    </div>
                </div>
                <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                    <div class="row">
                        <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                            <a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="avatar"></a>
                        </div>
                        <div class="comment-content col-md-11 col-sm-10 col-12">
                            <h6 class="small comment-meta"><a href="#">phildownney</a> Today, 12:31</h6>
                            <div class="comment-body">
                                <p>Really?? Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                                    <br>
                                    <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
                                </p>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
            <div class="comment mb-2 row">
                <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                    <a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/w102.jpg" alt="avatar"></a>
                </div>
                <div class="comment-content col-md-11 col-sm-10">
                    <h6 class="small comment-meta"><a href="#">maslarino</a> Yesterday, 5:03 PM</h6>
                    <div class="comment-body">
                        <p>Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                            <br>
                            <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <a href="" class="btn btn-sm btn-primary">Comment</a>
                </div>
            </div>

        </div>
    </div>
</div>
    </div>
  </div>
</div>

{% endblock %} 