<h3>Merci ! Vous avez proposé un logement</h3><br>
Bonjour {{ prenom }}! Vous faites désormais partis de la famille Atypik'House.<br>
Vous recevrez bientôt un mail vous confirmant la validation de votre bien par notre équipe.<br>
Vous pourrez ensuite gérer les réservations de votre logement.<br>
Encore merci et à bientôt !<br>
L'équipe Atypik'House.