<h3>Merci ! Vous avez proposé un logement</h3>
Bonjour {{ prenom }}! Vous faites désormais partis de la famille Atypik'House.
Vous recevrez bientôt un mail vous confirmant la validation de votre bien par notre équipe. Vous pourrez ensuite gérer les réservations de votre logement.

Encore merci et à bientôt !

L'équipe Atypik'House.