<h3>Félicitations vous êtes inscrits !</h3>
Bonjour {{ prenom }}! Vous êtes désormais inscrits sur Atypik'House.
Pour vous connecter, et commencer votre aventure atypique, veuillez cliquez <a href="localhost:8000/validerUser/{{ token }}">ici</a>.

Merci et à bientôt !

L'équipe Atypik'House.