<h3>Félicitations vous êtes inscrits !</h3><br>
Bonjour {{ prenom }}! Vous êtes désormais inscrits sur Atypik'House.<br>
Pour vous connecter, et commencer votre aventure atypique, veuillez cliquez <a href="localhost:8000/validerUser/{{ token }}">ici</a>.
<br>
Merci et à bientôt !
<br>
L'équipe Atypik'House.