<h3>{{ prenom|capitalize }}, c'est fait votre bien est en ligne !</h3><br>
Votre bien vient d'être validé. Vous pouvez y accéder via ce <a href="//127.0.0.1:8000/logement/{{ id }}">lien</a><br>
Encore merci et à bientôt !<br>
L'équipe Atypik'House.