<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Back Office - {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="/img/logo.png" />
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Atipik'House - Back Office</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logement_liste') }}">Logements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Commentaires</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('parametres_type_index', {'type': 0}) }}">Paramètres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Taxes (Ville)</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}
                <script src="/js/jquery.min.js"></script>
                <script src="/js/bootstrap.min.js"></script>
                <script src="/js/bo.js"></script>
            {% endblock %}
        </div>
    </body>
</html>
