<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} &bull; Atypik'House</title>
  <link rel="icon" type="image/png" href="/img/logo.png" />
  {% block stylesheet %}
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  {% endblock %}
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light">
  <a id="title" class="navbar-brand" href="/">
    <img src="/img/logo.png" height="30" width="30" />
    Atypik'House
  </a>
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if 'ROLE_ADMIN' in app.user.getRoles() %}
        | 
        <a id="title" class="navbar" href="{{ path('logement_liste') }}">
        Accès BackOffice
        </a>    
    {% endif %}
  {% endif %}  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="mr-auto"></ul>

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}

          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/register"><img id="avatarLogin" src="/img/header/avatarLogin.png"></a>
            </li>
            <li class="nav-item">
              <div id="Utilisateur">Bienvenue {{ app.user.prenom }}</div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register"><img id="cloche" src="/img/header/cloche.png"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('logement_ajout') }}">Ajouter un bien</a>
            </li>
            <li class="nav-item">
              <button id="btnDeco" class="btn btn-deconnexion" onclick="location.href='/logout'">
                  <p>Deconnexion</p>
                </button>
            </li>
        </ul>
  

      <div class="d-flex justify-content-end d-none d-md-block d-lg-none">
        <div class="d-flex bd-highlight flex-column">
          <div class="p-3 justify-content-end"><img id="avatarLogin" src="/img/header/avatarLogin.png"></div>
          <div class="p-3 flex-fill bd-highlight">
            <div id="Utilisateur">Bienvenue {{ app.user.prenom }}</div>
          </div>
          <div class="p-3 flex-fill bd-highlight"><img id="cloche" src="/img/header/cloche.png"></div>
          <div class="p-3 flex-fill bd-highlight"><button id="btnDeco" class="btn btn-deconnexion" onclick="location.href='/logout'">
              <p>Deconnexion</p>
            </button></div>
        </div>
      </div>
      {% else %}
      <ul class="nav navbar-nav">        
        <li class="nav-item">
          <a class="nav-link" href="/register">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-success" href="/login">Connexion</a>
        </li>
        </ul>

        {% endif %}
    </div>
  </nav>
  {% block body %}{% endblock %}

  <footer class="page-footer font-small stylish-color-dark pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">A PROPOS...</h5>
          <p>Atypik'House est un site mis en place pour faciliter les démarches entre propriétaires de
            logements atypiques, et rêveurs qui désirent passer une ou plusieurs nuits dans un endroit hors du commun...
            En espérant que vous trouverez votre bonheur, nous vous souhaitons une excellente visite.</p>
        </div>
        <hr class="w-100 d-md-none">

        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Top régions</h5>
          <ul class="list-unstyled">
            <li><a href="">Nuit et week-end insolites en Ile-de-France</a></li>
            <li><a href="">Nuit et week-end insolites en Bretagne</a></li>
            <li><a href="">Nuit et week-end insolites en Auvergne</a></li>
            <li><a href="">Nuit et Week-end insolites en Provence</a></li>
          </ul>
        </div>

        <hr class="w-100 d-md-none">

        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Top hébergement</h5>
          <ul class="list-unstyled">
            <li><a href="">Dormir dans une cabane</a></li>
            <li><a href="">Dormir dans une bulle</a></li>
            <li><a href="">Dormir dans une yourte</a></li>
            <li><a href="">Dormir dans une roulotte</a></li>
          </ul>
        </div>


        <hr class="w-100 d-md-none">
        <div class="col-md-2 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Liens utiles</h5>
          <ul class="list-unstyled">
            <li><a href="">Mentions légales</a></li>
            <li><a href="">Qui sommes nous</a></li>
            <li><a href="">Contactez nous</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <img href="" src="/img/icones/fb.svg" />
      </li>
      <li class="list-inline-item">
        <img href="" src="/img/icones/insta.svg" />
      </li>
      <li class="list-inline-item">
        <img href="" src="/img/icones/google_plus.svg" />
      </li>
    </ul>
    <div class="footer-copyright text-center">© 2018 Copyright:
      <a href=""> Code&Rise</a>
    </div>
  </footer>

  {% block javascripts %}
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/gijgo.min.js"></script>
  <script type="text/javascript" src="/js/slider.js"></script>
  <script type="text/javascript" src="/js/global.js"></script>
  {% endblock %}
</body>

</html>