<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block link %}
           <link rel="stylesheet" href="/css/bootstrap.min.css">
           <link rel="stylesheet" href="/css/styles.css">
           <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
           <script type="text/javascript" src="/js/jquery.min.js"></script>
           <script type="text/javascript" src="/js/bootstrap.min.js"></script>
           <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
           <script type="text/javascript" src="/js/slider.js"></script>

        {% endblock %}
    </head>
    <body>

 <nav class="navbar navbar-expand-lg navbar-light">
  <img id ="logo" src="/img/logo.png">
   <div id="title"><a href="/">Atypik'House</a></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      
    </ul>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <img id ="avatarLogin" src="/img/header/avatarLogin.png">  
        <div id="Utilisateur">Bienvenue {{ app.user.prenom }}</div>
        <img id ="cloche" src="/img/header/cloche.png">
        <!--<img id ="cloche" src="/img/header/clocheNotif.png">-->
        <button id="btnDeco" class="btn btn-deconnexion" onclick="location.href='/logout'"><p>Deconnexion</p></button>
    {% else %}
            <button id="btnInscrire" type="button" class="btn btn-success" onclick="location.href='/register'"><p>S'inscrire</p></button>
            <button id="btnConnecter" class="btn btn-primary" onclick="location.href='/login'"><p>Se connecter</p></button>
    {% endif %}           
  </div>
</nav>
        {% block body %}{% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">Colonne Menu 1</div>
                    <div class="col-lg-4">Colonne Menu 2</div>
                    <div class="col-lg-4">Colonne Menu 3</div>
                </div>
            </div>
        </footer>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
